body{
  font-family: Arial, sans-serif;
  font-size: 80%;
  color: #333333;
  line-height: 1.166;
  margin: 0px;
  padding: 0px;
}

a{
  color: #006699;
  text-decoration: none;
}

a:link{
  color: #006699;
  text-decoration: none;
}

a:visited{
  color: #006699;
  text-decoration:none;
}

a:hover{
  color:#006699;
  text-decoration: underline;
}

h1{
  font-family: Verdana, Arial, sans-serif;
  font-size: 120%;
  color: #334d55;
  margin: 0px;
  padding: 0px;
}

h2{
  font-family: Arial, sans-serif;
  font-size: 120%;
  color: #334d55;
  margin: 0px;
  padding: 0px;
}

h3{
  font-family: Arial, sans-serif;
  font-size: 110%;
  color: #334d55;
  margin: 0px;
  padding: 0px;
}

h4{
  font-family: Arial, sans-serif;
  font-size: 100%;
  color: #334d55;
  margin: 0px;
  padding: 0px;
}

#header{
  padding: 8px;
  border-bottom: 1px solid #E2EAEF;
  height: 90px;
  width: 100%;
  background-image: url("images/banner.jpg");
  background-repeat: no-repeat;
  background-position: top right;
}

#nav{
  padding:5px;
  border-top, border-right, border-bottom: 1px solid #E2EAEF;
  background-color: #FFE3AA;
  float: left;
  width: 15%;
  min-height: 275px;
  min-width: 300px;
}

#main{
  padding:10px;
  border-top:1px solid #E2EAEF;
  float: left;
  max-width: 50%; 
}

#news{
  padding:5px;
  border-top, border-left: 1px solid #E2EAEF;
  background-color: #F2F6F8;
  float:right;
  width: 22%;
  min-height: 275px;
}

#footer{
  clear: both;
  text-align: center;
  padding: 7px;
  border-bottom, border-top: 1px solid #E2EAEF;
  background-color: #F3F6F8;
  width: 100%;
}

